@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@font-face {
  font-family: "Muller";
  src: url("../font/MullerRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../font/MullerBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.main__title {
  font-family: "Russo One";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .main__title {
    font-size: 70px;
  }
}

.heading {
  font-family: "Russo One";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #070608;
}
@media only screen and (min-width: 1024px) {
  .heading {
    font-size: 60px;
  }
}

.auction__live-text {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #d13130;
}
@media only screen and (min-width: 1024px) {
  .auction__live-text {
    font-size: 16px;
  }
}

.auction__user-name {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #070608;
}
@media only screen and (min-width: 1024px) {
  .auction__user-name {
    font-size: 20px;
  }
}

.auction__card-title {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #070608;
}
@media only screen and (min-width: 1024px) {
  .auction__card-title {
    font-size: 48px;
  }
}

.auction__price-text {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #070608;
}
@media only screen and (min-width: 1024px) {
  .auction__price-text {
    font-size: 20px;
  }
}

.auction__crypto {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  color: #070608;
}
@media only screen and (min-width: 1024px) {
  .auction__crypto {
    font-size: 48px;
  }
}

.auction__dollar {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #95959d;
}
@media only screen and (min-width: 1024px) {
  .auction__dollar {
    font-size: 20px;
  }
}

.auction__clock-text, .auction__time-text {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .auction__clock-text, .auction__time-text {
    font-size: 20px;
  }
}

.auction__clock-num {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .auction__clock-num {
    font-size: 48px;
  }
}

.other-auction__heading {
  font-family: "Russo One";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #070608;
}

.other-auction .card__user-name {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: white;
}

.other-auction .card__title {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: white;
}

.other-auction .card__price {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #46f4db;
}

.other-auction .card__time {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #95959d;
}

.best-sellers .card__user-name {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #070608;
}

.best-sellers .card__title {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #070608;
}
@media only screen and (min-width: 1024px) {
  .best-sellers .card__title {
    font-size: 48px;
  }
}

.best-sellers .card__price {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #070608;
}
@media only screen and (min-width: 1024px) {
  .best-sellers .card__price {
    font-size: 20px;
  }
}

.condition__heading {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .condition__heading {
    font-size: 24px;
  }
}

.condition__text {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .condition__text {
    font-size: 18px;
  }
}

.footer__copyright {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #ededf2;
}

.header .navbar__link {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  color: #070608;
  font-size: 16px;
}
.header .navbar__link:hover {
  color: #46f4db;
}
.header .navbar__link:active {
  color: #57d272;
}
@media only screen and (min-width: 1024px) {
  .header .navbar__link {
    font-size: 20px;
  }
}

.footer .navbar__link {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  color: #070608;
  font-size: 16px;
}
.footer .navbar__link:hover {
  color: #267d72;
}
.footer .navbar__link:active {
  color: #33ad9d;
}
@media only screen and (min-width: 1024px) {
  .footer .navbar__link {
    font-size: 20px;
  }
}

.header__button {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 40px;
}
@media only screen and (min-width: 1024px) {
  .header__button {
    padding-left: 31.5px;
    padding-right: 31.5px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
.header__button:hover {
  color: #070608;
}
.header__button:active {
  color: #070608;
}

.main__button-buy {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  color: #070608;
  font-size: 16px;
  padding-left: 38.5px;
  padding-right: 38.5px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 40px;
}
@media only screen and (min-width: 1024px) {
  .main__button-buy {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__button-buy {
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.main__button-buy:hover {
  color: #070608;
}
.main__button-buy:active {
  color: #070608;
}

.main__button-author {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 16px;
  padding-left: 33.5px;
  padding-right: 33.5px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 40px;
}
@media only screen and (min-width: 1024px) {
  .main__button-author {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__button-author {
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.main__button-author:hover {
  color: #070608;
}
.main__button-author:active {
  color: #070608;
}

.auction__button {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  color: #070608;
  font-size: 16px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 40px;
}
@media only screen and (min-width: 1024px) {
  .auction__button {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .auction__button {
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.auction__button:hover {
  color: #070608;
}
.auction__button:active {
  color: #070608;
}

.other-auction__button {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  color: #070608;
  font-size: 20px;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
}
@media only screen and (min-width: 1024px) {
  .other-auction__button {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.other-auction__button:hover {
  color: #070608;
}
.other-auction__button:active {
  color: #070608;
}

.new-stickers .slider__nav-button {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 12px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 40px;
}
@media only screen and (min-width: 1024px) {
  .new-stickers .slider__nav-button {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .new-stickers .slider__nav-button {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.new-stickers .slider__nav-button:hover {
  color: white;
}
.new-stickers .slider__nav-button:active {
  color: white;
}

.container {
  width: 300px;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 950px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    width: 1280px;
  }
}

.other-auction .slider__nav-item, .header__button-icon, .header .navbar__link, .footer .navbar__link, .header__button, .main__button-buy, .main__button-author, .auction__button, .other-auction__button, .new-stickers .slider__nav-button {
  transition: 0.3s;
}
.other-auction .slider__nav-item:hover, .header__button-icon:hover, .header .navbar__link:hover, .footer .navbar__link:hover, .header__button:hover, .main__button-buy:hover, .main__button-author:hover, .auction__button:hover, .other-auction__button:hover, .new-stickers .slider__nav-button:hover {
  transition: 0.3s;
}
.other-auction .slider__nav-item:active, .header__button-icon:active, .header .navbar__link:active, .footer .navbar__link:active, .header__button:active, .main__button-buy:active, .main__button-author:active, .auction__button:active, .other-auction__button:active, .new-stickers .slider__nav-button:active {
  transition: 0.05s;
}

.header__button-icon:hover {
  transform: scale(1.2);
}
.header__button-icon:active {
  transform: scale(0.9);
}

.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.slider__slides {
  transition: transform 0.001s ease-in-out;
}

.slider__slide {
  scroll-snap-align: start;
  position: relative;
}

.header__logo {
  width: 75px;
  height: 30px;
}
@media only screen and (min-width: 1024px) {
  .header__logo {
    width: 100px;
    height: 40px;
  }
}
.header__bar {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
}
@media only screen and (min-width: 1024px) {
  .header__bar {
    border-bottom-width: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-start;
  }
}
.header__bar .navbar {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__bar .navbar {
    display: block;
    margin-left: 64px;
  }
}
.header__button {
  display: none;
  margin-left: auto;
  background-color: #070608;
}
.header__button:hover {
  background-color: #46f4db;
}
.header__button:active {
  background-color: #57d272;
}
@media only screen and (min-width: 1024px) {
  .header__button {
    display: block;
  }
}
.header__button-text {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__button-text {
    display: flex;
  }
}
.header__button-icon {
  display: flex;
}
@media only screen and (min-width: 1024px) {
  .header__button-icon {
    display: none;
  }
}
.header .navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .header .navbar__list {
    display: flex;
    gap: 32px;
  }
}
.header .navbar-mobile {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  .header .navbar-mobile {
    display: none;
  }
}

.main {
  background-color: #070608;
  overflow: hidden;
  position: relative;
}
.main__title {
  padding-top: 64px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 1024px) {
  .main__title {
    padding-top: 160px;
    padding-bottom: 36px;
  }
}
.main__buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 64px;
}
@media only screen and (min-width: 1024px) {
  .main__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding-bottom: 160px;
  }
}
.main__button-buy:hover {
  background-color: #46f4db;
}
.main__button-buy:active {
  background-color: #57d272;
}
.main__gradient {
  background: linear-gradient(180deg, #46f4db, #57d272);
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
}
.main__button-author {
  border-width: 5px;
  border-style: solid;
  border-color: #46f4db;
}
.main__button-author:hover {
  background: #46f4db;
}
.main__button-author:active {
  background-color: #57d272;
  border-width: 5px;
  border-style: solid;
  border-color: #57d272;
}
.main__hero {
  min-width: 320px;
  min-height: 145px;
  background-image: url("../images/hero.png");
  background-repeat: repeat-x;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: -150px;
}
@media only screen and (min-width: 1024px) {
  .main__hero {
    min-width: 332px;
    min-height: 680px;
    background-image: url("../images/hero_tablet.png");
    background-repeat: no-repeat;
    position: absolute;
    right: -332px;
    bottom: 0px;
  }
}
@media only screen and (min-width: 1920px) {
  .main__hero {
    min-width: 944px;
    min-height: 680px;
    background-image: url("../images/hero_desktop.png");
    background-repeat: no-repeat;
    position: absolute;
    right: -944px;
    bottom: 0px;
  }
}

.auction {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 1024px) {
  .auction {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.auction__bar {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media only screen and (min-width: 1024px) {
  .auction__bar {
    display: flex;
    gap: 16px;
  }
}
.auction__live {
  width: 105px;
  height: 28px;
  border-width: 2px;
  border-style: solid;
  border-color: #d13130;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
@media only screen and (min-width: 1024px) {
  .auction__live {
    width: 135px;
    height: 36px;
    margin-top: 6px;
  }
}
.auction__live-text {
  display: flex;
  align-items: center;
  gap: 3.5px;
}
@media only screen and (min-width: 1024px) {
  .auction__live-text {
    display: flex;
    gap: 5.5px;
  }
}
@media only screen and (min-width: 1024px) {
  .auction__card {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 16px;
    margin-top: 32px;
  }
}
.auction__card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 1024px) {
  .auction__card-content {
    display: flex;
    gap: 32px;
  }
}
.auction__card-img {
  width: 296px;
  height: 296px;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1024px) {
  .auction__card-img {
    width: 460px;
    height: 460px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.auction__user {
  background-color: #ededf2;
  border-radius: 18px;
  width: 170px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media only screen and (min-width: 1024px) {
  .auction__user {
    width: 228px;
    height: 70px;
    display: flex;
    gap: 16px;
    border-radius: 23px;
  }
}
.auction__user-name {
  margin-top: 2px;
}
.auction__user-img {
  width: 24px;
  height: 24px;
}
@media only screen and (min-width: 1024px) {
  .auction__user-img {
    width: 48px;
    height: 48px;
  }
}
.auction__price-time {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 1024px) {
  .auction__price-time {
    display: flex;
    gap: 32px;
  }
}
@media only screen and (min-width: 1920px) {
  .auction__price-time {
    display: flex;
    flex-direction: row;
  }
}
.auction__price {
  width: 174px;
  height: 126px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #ededf2;
  border-radius: 18px;
}
@media only screen and (min-width: 1024px) {
  .auction__price {
    width: 296px;
    height: 174px;
    border-radius: 40px;
  }
}
.auction__price-info {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
@media only screen and (min-width: 1024px) {
  .auction__price-info {
    padding-left: 32px;
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .auction__crypto {
    margin-top: 16px;
    margin-bottom: 6px;
  }
}
.auction__time {
  width: 200px;
  height: 116px;
  background-color: #070608;
  border-radius: 18px;
}
@media only screen and (min-width: 1024px) {
  .auction__time {
    width: 460px;
    height: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
  }
}
.auction__time-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 1024px) {
  .auction__time-info {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 32px;
  }
}
.auction__clock {
  width: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .auction__clock {
    width: 231px;
  }
}
.auction__time-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.auction__clock-img {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .auction__clock-img {
    display: block;
    padding-right: 32px;
  }
}
.auction__gradient {
  margin-top: 16px;
  border-radius: 40px;
}
.auction__gradient:hover {
  background: linear-gradient(180deg, #46f4db, #57d272);
  width: fit-content;
  height: fit-content;
}
@media only screen and (min-width: 1024px) {
  .auction__gradient {
    margin-top: 0px;
  }
}
.auction__button {
  background-color: #46f4db;
}
.auction__button:hover {
  background-color: transparent;
}
.auction__button:active {
  background-color: #57d272;
}

.other-auction {
  margin-bottom: 80px;
}
@media only screen and (min-width: 1024px) {
  .other-auction {
    margin-bottom: 90px;
  }
}
.other-auction__button {
  margin-left: 48px;
  margin-top: 32px;
  border-width: 5px;
  border-style: solid;
  border-color: #46f4db;
}
.other-auction__button:hover {
  background-color: #46f4db;
}
.other-auction__button:active {
  border-width: 5px;
  border-style: solid;
  border-color: #57d272;
  background-color: #57d272;
}
@media only screen and (min-width: 1024px) {
  .other-auction__button {
    margin-left: 328px;
  }
}
@media only screen and (min-width: 1920px) {
  .other-auction__button {
    margin-left: 492px;
  }
}
.other-auction .slider {
  margin-top: 32px;
  width: 296px;
  height: 342px;
}
@media only screen and (min-width: 1024px) {
  .other-auction .slider {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
  }
}
.other-auction .slider__slides {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 1024px) {
  .other-auction .slider__slides {
    width: 952px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media only screen and (min-width: 1920px) {
  .other-auction .slider__slides {
    width: 1280px;
    height: fit-content;
  }
}
.other-auction .slider__slide:nth-child(7), .other-auction .slider__slide:nth-child(8) {
  display: none;
}
@media only screen and (min-width: 1920px) {
  .other-auction .slider__slide:nth-child(7), .other-auction .slider__slide:nth-child(8) {
    display: block;
  }
}
.other-auction .slider__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
@media only screen and (min-width: 1024px) {
  .other-auction .slider__nav {
    display: none;
  }
}
.other-auction .slider__nav-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #070608;
}
.other-auction .card {
  width: 296px;
  height: 342px;
  background-color: #ededf2;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.other-auction .card__info {
  background-color: #070608;
  width: 296px;
  height: 168px;
  border-radius: 0px 0px 40px 40px;
  padding-top: 16px;
  padding-left: 16px;
}
.other-auction .card__img {
  margin-top: 7px;
}
.other-auction .card__user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.other-auction .card__title {
  margin-top: 16px;
  margin-bottom: 12px;
}
.other-auction .card__price {
  margin-bottom: 12px;
}
.other-auction .card__time {
  display: flex;
  align-items: center;
  gap: 4px;
}

.new-stickers {
  padding-top: 32px;
  padding-bottom: 64px;
  background-color: #070608;
}
@media only screen and (min-width: 1024px) {
  .new-stickers {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.new-stickers__heading {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media only screen and (min-width: 1024px) {
  .new-stickers__heading {
    display: flex;
    gap: 16px;
  }
}
.new-stickers__fire {
  width: 24px;
  height: 24px;
}
@media only screen and (min-width: 1024px) {
  .new-stickers__fire {
    width: 48px;
    height: 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .new-stickers__img {
    display: none;
  }
}
.new-stickers__img-tablet {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .new-stickers__img-tablet {
    display: block;
  }
}
.new-stickers .slider {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 296px;
  height: 143px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .new-stickers .slider {
    width: 952px;
    height: 223px;
    overflow-x: hidden;
  }
  .new-stickers .slider::-webkit-scrollbar {
    width: 0;
  }
}
@media only screen and (min-width: 1920px) {
  .new-stickers .slider {
    width: 1280px;
    height: 300px;
  }
}
.new-stickers .slider__slides {
  width: fit-content;
  height: 143px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.new-stickers .slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 143px;
}
@media only screen and (min-width: 1024px) {
  .new-stickers .slider__slide {
    width: 952px;
    height: 223px;
  }
  .new-stickers .slider__slide:nth-child(5), .new-stickers .slider__slide:nth-child(6) {
    display: none;
  }
}
@media only screen and (min-width: 1920px) {
  .new-stickers .slider__slide {
    width: 1280px;
    height: 300px;
  }
}
.new-stickers .slider__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}
@media only screen and (min-width: 1024px) {
  .new-stickers .slider__nav {
    margin-top: 64px;
  }
}
.new-stickers .slider__nav-button {
  border-width: 2px;
  border-style: solid;
  border-color: #d13130;
}
@media only screen and (min-width: 1024px) {
  .new-stickers .slider__nav-button:nth-child(5), .new-stickers .slider__nav-button:nth-child(6) {
    display: none;
  }
}
.new-stickers .slider__nav-button:hover {
  background-color: #ff6f6f;
  border-color: #ff6f6f;
}
.new-stickers .slider__nav-button:active {
  background-color: #d13130;
  border-color: #d13130;
}

.best-sellers {
  background-color: #070608;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 1024px) {
  .best-sellers {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.best-sellers__heading {
  color: white;
  margin-bottom: 16px;
}
@media only screen and (min-width: 1024px) {
  .best-sellers__heading {
    margin-bottom: 32px;
  }
}
.best-sellers__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
@media only screen and (min-width: 1024px) {
  .best-sellers__cards {
    display: flex;
    gap: 0px;
  }
}
.best-sellers .card {
  width: 132px;
  height: 226px;
  background-color: #ededf2;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .best-sellers .card {
    width: 460px;
    height: 174px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 40px;
  }
  .best-sellers .card:nth-child(3) {
    margin-top: 32px;
  }
  .best-sellers .card:nth-child(4) {
    margin-top: 32px;
  }
  .best-sellers .card:nth-child(5) {
    margin-top: 32px;
  }
  .best-sellers .card:nth-child(6) {
    margin-top: 32px;
  }
}
@media only screen and (min-width: 1920px) {
  .best-sellers .card {
    width: 624px;
    height: 174px;
  }
}
.best-sellers .card__info {
  background-color: white;
  width: 132px;
  height: 118px;
  border-radius: 0px 0px 18px 18px;
  margin-top: auto;
  z-index: 999;
  padding-left: 16px;
  padding-top: 16px;
}
@media only screen and (min-width: 1024px) {
  .best-sellers .card__info {
    width: 318px;
    height: 174px;
    padding-left: 32px;
    padding-top: 32px;
    border-radius: 0px 40px 40px 0px;
  }
}
@media only screen and (min-width: 1920px) {
  .best-sellers .card__info {
    width: 482px;
    height: 174px;
  }
}
.best-sellers .card__img {
  width: 108px;
  height: 108px;
  margin-top: 12px;
  position: absolute;
}
@media only screen and (min-width: 1024px) {
  .best-sellers .card__img {
    margin-right: 303px;
    margin-top: 0;
    width: 142px;
    height: 142px;
  }
}
@media only screen and (min-width: 1920px) {
  .best-sellers .card__img {
    margin-right: 467px;
  }
}
.best-sellers .card__user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.best-sellers .card__title {
  margin-top: 8px;
  margin-bottom: 7px;
}
@media only screen and (min-width: 1024px) {
  .best-sellers .card__title {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}
.best-sellers .card__price {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
@media only screen and (min-width: 1024px) {
  .best-sellers .card__price {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.best-sellers .card__dollar {
  color: #95959d;
}

.condition {
  background-color: #37373e;
  padding-top: 32px;
  padding-bottom: 32px;
}
.condition__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 1024px) {
  .condition__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.condition__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.condition__text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.condition__icon {
  width: 32px;
  height: 32px;
}
.condition__img-container {
  position: relative;
  width: 300px;
  height: 103px;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .condition__img-container {
    width: 460px;
    height: 160px;
  }
}
.condition__img {
  width: 103px;
  height: 103px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.condition__img:nth-child(1) {
  right: 0px;
}
.condition__img:nth-child(2) {
  right: 48px;
}
.condition__img:nth-child(3) {
  right: 96px;
}
.condition__img:nth-child(4) {
  right: 144px;
}
.condition__img:nth-child(5) {
  right: 192px;
}
@media only screen and (min-width: 1024px) {
  .condition__img {
    width: 160px;
    height: 160px;
  }
  .condition__img:nth-child(1) {
    right: 0px;
  }
  .condition__img:nth-child(2) {
    right: 75px;
  }
  .condition__img:nth-child(3) {
    right: 150px;
  }
  .condition__img:nth-child(4) {
    right: 225px;
  }
  .condition__img:nth-child(5) {
    right: 300px;
  }
}

.footer {
  background-color: #46f4db;
}
.footer__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75px;
  height: 30px;
}
@media only screen and (min-width: 1024px) {
  .footer__logo {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100px;
    height: 40px;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.footer .navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #070608;
  width: 300px;
  height: fit-content;
}
@media only screen and (min-width: 1024px) {
  .footer .navbar__list {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    width: 320px;
    height: fit-content;
  }
}
.footer__black {
  background-color: #070608;
}
.footer__copyright {
  margin-left: 120px;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media only screen and (min-width: 1024px) {
  .footer__copyright {
    margin-left: 436px;
  }
}
@media only screen and (min-width: 1920px) {
  .footer__copyright {
    margin-left: 600px;
  }
}