// Шрифты
@import "./font.scss";
// Обнуление
@import "./null.scss";
// Конфигурация
@import "./configuration.scss";

// Базовые стили

.container {
  @extend %container;
}

.heading {
  @extend %heading;
}

.second-heading {
  @extend %second-heading;
}

.slider {
  @extend %slider;

  &__slides {
    @extend %slides;
  }

  &__slide {
    @extend %slide;
  }
}

.header {
  &__logo {
    @include size(default, 75px, 30px);
    @include respond-to(tablet) {
      @include size(default, 100px, 40px);
    }
  }
  &__bar {
    @include border(bottom, 1px, solid, #c4c4c4);
    @include flex(on, $justify: space-between, $align: center);
    @include axis-indent(padding, y, 17px);
    @include respond-to(tablet) {
      @include border(bottom, 0);
      @include axis-indent(padding, y, 15px);
      @include flex($justify: flex-start);
    }
    .navbar {
      display: none;
      @include respond-to(tablet) {
        display: block;
        margin-left: 64px;
      }
    }
  }
  &__button {
    display: none;
    margin-left: auto;
    background-color: color("black");
    &:hover {
      background-color: color("blue-neon");
    }
    &:active {
      background-color: color("lime");
    }
    @include respond-to(tablet) {
      display: block;
    }
    @extend %navbar-button;
    &-text {
      display: none;
      @include respond-to(tablet) {
        display: flex;
      }
    }
    &-icon {
      display: flex;
      @extend %simple-scale;
      @extend %simple-transition;
      @include respond-to(tablet) {
        display: none;
      }
    }
  }
  .navbar {
    &__link {
      @extend %header-navbar-link;
    }
    &__list {
      @include flex(on, $justify: space-between, $align: center);
      @include respond-to(tablet) {
        @include flex($gap: 32px);
      }
    }
  }
  .navbar-mobile {
    @include axis-indent(padding, y, 10px);
    @include respond-to(tablet) {
      display: none;
    }
  }
}

.main {
  background-color: color("black");
  overflow: hidden;
  position: relative;
  &__title {
    @extend %title;
    padding-top: 64px;
    padding-bottom: 16px;
    @include respond-to(tablet) {
      padding-top: 160px;
      padding-bottom: 36px;
    }
  }
  &__buttons {
    @include flex(on, column, flex-start, $align: flex-start, $gap: 16px);
    padding-bottom: 64px;
    @include respond-to(tablet) {
      @include flex($direction: row, $align: center, $gap: 32px);
      padding-bottom: 160px;
    }
  }
  &__button-buy {
    @extend %main-button-buy;
    &:hover {
      background-color: color("blue-neon");
    }
    &:active {
      background-color: color("lime");
    }
  }
  &__gradient {
    background: linear-gradient(180deg, color("blue-neon"), color("lime"));
    @include size(default, fit-content);
    @include border-radius(40px);
  }
  &__button-author {
    @extend %main-button-author;
    @include border(all, 5px, solid, color("blue-neon"));
    &:hover {
      background: color("blue-neon");
    }
    &:active {
      background-color: color("lime");
      @include border(all, 5px, solid, color("lime"));
    }
  }
  &__hero {
    @include size(min, 320px, 145px);
    background-image: url("../images/hero.png");
    background-repeat: repeat-x;
    background-position: center;
    @include axis-indent(margin, x, auto);
    position: relative;
    bottom: -150px;
    @include respond-to(tablet) {
      @include size(min, 332px, 680px);
      background-image: url("../images/hero_tablet.png");
      background-repeat: no-repeat;
      position: absolute;
      right: -332px;
      bottom: 0px;
    }
    @include respond-to(desktop) {
      @include size(min, 944px, 680px);
      background-image: url("../images/hero_desktop.png");
      background-repeat: no-repeat;
      position: absolute;
      right: -944px;
      bottom: 0px;
    }
  }
}

.auction {
  @include axis-indent(padding, y, 80px);
  @include respond-to(tablet) {
    @include axis-indent(padding, y, 90px);
  }
  &__bar {
    @include flex(on, $align: center, $gap: 15px);
    @include respond-to(tablet) {
      @include flex($gap: 16px);
    }
  }
  &__live {
    @include size(default, 105px, 28px);
    @include border(all, 2px, solid, color("red"), 40px);
    @include flex(on, $justify: center, $align: center);
    margin-top: 2px;
    @include respond-to(tablet) {
      @include size(default, 135px, 36px);
      margin-top: 6px;
    }
  }
  &__live-text {
    @include flex(on, $align: center, $gap: 3.5px);
    @extend %live;
    @include respond-to(tablet) {
      @include flex($gap: 5.5px);
    }
  }
  &__card {
    @include respond-to(tablet) {
      @include flex(on, $justify: space-between, $align: top, $gap: 16px);
      margin-top: 32px;
    }
  }
  &__card-content {
    @include flex(on, column, $gap: 16px);
    @include respond-to(tablet) {
      @include flex($gap: 32px);
    }
  }
  &__card-img {
    @include size(default, 296px);
    @include axis-indent(margin, y, 32px);
    @include respond-to(tablet) {
      @include size(default, 460px);
      @include axis-indent(margin, y, 0px);
    }
  }
  &__user {
    background-color: color("extra-white");
    @include border-radius(18px);
    @include size(default, 170px, 46px);
    @include flex(on, $justify: center, $align: center, $gap: 8px);
    @include respond-to(tablet) {
      @include size(default, 228px, 70px);
      @include flex($gap: 16px);
      @include border-radius(23px);
    }
  }
  &__user-name {
    @extend %auction-user;
    margin-top: 2px;
  }
  &__user-img {
    @include size(default, 24px);
    @include respond-to(tablet) {
      @include size(default, 48px);
    }
  }
  &__card-title {
    @extend %auction-title;
  }
  &__price-time {
    @include flex(on, column, $gap: 16px);
    @include respond-to(tablet) {
      @include flex($gap: 32px);
    }
    @include respond-to(desktop) {
      @include flex($direction: row);
    }
  }
  &__price {
    @include size(default, 174px, 126px);
    @include flex(on, $align: center, $gap: 16px);
    background-color: color("extra-white");
    @include border-radius(18px);
    @include respond-to(tablet) {
      @include size(default, 296px, 174px);
      @include border-radius(40px);
    }
  }
  &__price-info {
    padding-left: 16px;
    @include flex(on, column, center, $gap: 16px);
    @include respond-to(tablet) {
      padding-left: 32px;
      display: block;
    }
  }
  &__price-text {
    @extend %auction-price-text;
  }
  &__crypto {
    @extend %auction-crypto;
    @include respond-to(tablet) {
      margin-top: 16px;
      margin-bottom: 6px;
    }
  }
  &__dollar {
    @extend %auction-dollar;
  }
  &__time {
    @include size(default, 200px, 116px);
    background-color: color("black");
    @include border-radius(18px);
    @include respond-to(tablet) {
      @include size(default, 460px, 174px);
      @include flex(on, $justify: space-between, $align: center);
      @include border-radius(40px);
    }
  }
  &__time-info {
    @include flex(on, column, center, $gap: 16px);
    @include axis-indent(padding, xy, 16px, 16px);
    @include respond-to(tablet) {
      @include axis-indent(padding, xy, 0px, 0px);
      padding-left: 32px;
    }
  }
  &__clock {
    @include size(default, 168px, 0px);
    @include flex(on, $justify: space-between, $align: center);
    @include respond-to(tablet) {
      @include size(default, 231px, 0px);
    }
  }
  &__time-type {
    @include flex(on, column, center, center, $gap: 6px);
  }
  &__time-text {
    @extend %auction-time-text;
  }
  &__clock-text {
    @extend %auction-time-text;
  }
  &__clock-num {
    @extend %auction-clock-num;
  }
  &__clock-img {
    display: none;
    @include respond-to(tablet) {
      display: block;
      padding-right: 32px;
    }
  }
  &__gradient {
    margin-top: 16px;
    @include border-radius(40px);
    &:hover {
      background: linear-gradient(180deg, color("blue-neon"), color("lime"));
      @include size(default, fit-content);
    }
    @include respond-to(tablet) {
      margin-top: 0px;
    }
  }
  &__button {
    @extend %button-noborder;
    background-color: color("blue-neon");
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: color("lime");
    }
  }
}

.other-auction {
  margin-bottom: 80px;
  @include respond-to(tablet) {
    margin-bottom: 90px;
  }
  &__button {
    @extend %button-border;
    margin-left: 48px;
    margin-top: 32px;
    @include border(all, 5px, solid, color("blue-neon"));
    &:hover {
      background-color: color("blue-neon");
    }
    &:active {
      @include border(all, 5px, solid, color("lime"));
      background-color: color("lime");
    }
    @include respond-to(tablet) {
      margin-left: 328px;
    }
    @include respond-to(desktop) {
      margin-left: 492px;
    }
  }
  .slider {
    margin-top: 32px;
    @include size(default, 296px, 342px);
    @include respond-to(tablet) {
      @include size(default, fit-content);
      overflow: hidden;
    }
    &__slides {
      @include size(default, fit-content, 100%);
      @include flex(on, $justify: space-between, $align: center, $gap: 20px);
      @include respond-to(tablet) {
        @include size(default, 952px, fit-content);
        @include flex($wrap: wrap, $gap: 32px);
      }
      @include respond-to(desktop) {
        @include size(default, 1280px, fit-content);
      }
    }
    &__slide {
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
      @include respond-to(desktop) {
        &:nth-child(7),
        &:nth-child(8) {
          display: block;
        }
      }
    }
    &__nav {
      @include flex(on, $justify: center, $align: center, $gap: 10px);
      margin-top: 16px;
      @include respond-to(tablet) {
        display: none;
      }
    }
    &__nav-item {
      @extend %simple-transition;
      @include size(default, 10px);
      @include border-radius(50%);
      background-color: color("black");
    }
  }
  .card {
    @include size(default, 296px, 342px);
    background-color: color("extra-white");
    @include border-radius(40px);
    @include flex(on, column, space-between, center);
    &__info {
      background-color: color("black");
      @include size(default, 296px, 168px);
      @include border-radius(0px, 0px, 40px, 40px);
      padding-top: 16px;
      padding-left: 16px;
    }
    &__img {
      margin-top: 7px;
    }
    &__user {
      @include flex(on, $align: center, $gap: 8px);
    }
    &__user-name {
      @extend %oth-auc-user;
    }
    &__title {
      @extend %oth-auc-title;
      margin-top: 16px;
      margin-bottom: 12px;
    }
    &__price {
      @extend %oth-auc-price;
      margin-bottom: 12px;
    }
    &__time {
      @extend %oth-auc-time;
      @include flex(on, $align: center, $gap: 4px);
    }
  }
}

.new-stickers {
  padding-top: 32px;
  padding-bottom: 64px;
  background-color: color("black");
  @include respond-to(tablet) {
    @include axis-indent(padding, y, 90px);
  }
  &__heading {
    color: white;
    @include flex(on, $align: center, $gap: 8px);
    @include respond-to(tablet) {
      @include flex($gap: 16px);
    }
  }
  &__fire {
    @include size(default, 24px);
    @include respond-to(tablet) {
      @include size(default, 48px);
    }
  }
  &__img {
    @include respond-to(tablet) {
      display: none;
    }
  }
  &__img-tablet {
    display: none;
    @include respond-to(tablet) {
      display: block;
    }
  }
  .slider {
    @include axis-indent(margin, y, 32px);
    @include size(default, 296px, 143px);
    @include flex(on, $align: center);
    @include respond-to(tablet) {
      @include size(default, 952px, 223px);
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    @include respond-to(desktop) {
      @include size(default, 1280px, 300px);
    }
    &__slides {
      @include size(default, fit-content, 143px);
      @include flex(on, $align: center, $gap: 20px);
    }
    &__slide {
      @include flex(on, $justify: center, $align: center);
      @include size(default, 296px, 143px);
      @include respond-to(tablet) {
        @include size(default, 952px, 223px);
        &:nth-child(5),
        &:nth-child(6) {
          display: none;
        }
      }
      @include respond-to(desktop) {
        @include size(default, 1280px, 300px);
      }
    }
    &__nav {
      @include flex(on, $justify: center, $align: center, $gap: 12px);
      margin-top: 32px;
      @include respond-to(tablet) {
        margin-top: 64px;
      }
    }
    &__nav-button {
      @extend %new-stickers-button;
      @include border(all, 2px, solid, color("red"));
      @include respond-to(tablet) {
        &:nth-child(5),
        &:nth-child(6) {
          display: none;
        }
      }
      &:hover {
        background-color: color("white-red");
        border-color: color("white-red");
      }
      &:active {
        background-color: color("red");
        border-color: color("red");
      }
    }
  }
}

.subscribe {
  background-color: color("red");
  padding-top: 32px;
  @include respond-to(tablet) {
    padding-bottom: 32px;
  }
  &__content {
    @include respond-to(tablet) {
      @include flex(on, $align: center);
      position: relative;
    }
  }
  &__heading {
    color: white;
    margin-bottom: 16px;
    @include respond-to(tablet) {
      margin-bottom: 32px;
    }
  }
  .form {
    @include flex(on, column, $gap: 16px);
    &__input {
      @extend %simple-transition;
      @extend %subscribe-input;
      background-color: color("black");
      @include size(default, 296px, 50px);
      @include axis-indent(padding, xy, 32px, 17px);
      @include border(all, 2px, solid, color("black"), 40px);
      &:active,
      &:focus {
        background-color: transparent;
        color: color("black");
      }
      @include respond-to(tablet) {
        @include axis-indent(padding, y, 25px);
        @include size(default, 460px, 70px);
      }
    }
    &__input::placeholder {
      @extend %subscribe-input;
    }
    &__checkbox-container {
      @include flex(on, $align: center, $gap: 8px);
    }
    &__checkbox-text {
      @extend %subscribe-text;
    }
    &__checkbox-button {
      @include size(default, 14px);
      @include border(all, 1px, solid, white);
      @include flex(on, $align: center, $justify: center);
    }
    &__checkbox-img {
      opacity: 0;
      transition: 0.3s;
    }
  }
  &__gradient {
    @include border-radius(40px);
    &:hover {
      background: linear-gradient(180deg, color("blue-neon"), color("lime"));
      @include size(default, fit-content);
    }
  }
  &__button {
    @extend %button-noborder;
    background-color: color("blue-neon");
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: color("lime");
    }
  }
  &__img-container {
    @include size(default, 296px, 150px);
    position: relative;
    overflow: hidden;
    @include respond-to(tablet) {
      @include size(default, 460px, 394px);
      position: absolute;
      left: calc(950px - 460px);
    }
    @include respond-to(desktop) {
      @include size(default, 788px, 394px);
      left: calc(1280px - 788px);
    }
  }
  &__img {
    position: absolute;
    &:first-child {
      transition: transform 0.5s ease-in-out;
      top: 130px;
      @include respond-to(tablet) {
        display: none;
      }
    }
    &:nth-child(2) {
      display: none;
      @include respond-to(tablet) {
        display: block;
        rotate: 90deg;
        @include size(default, 126px);
        top: 396px;
        z-index: 20;
      }
      @include respond-to(desktop) {
        @include size(default, 218px);
        top: 398px;
      }
    }
    &:nth-child(3) {
      display: none;
      @include respond-to(tablet) {
        display: block;
        rotate: 150deg;
        @include size(default, 212px);
        top: -220px;
        left: 76px;
        z-index: 30;
        @include respond-to(desktop) {
          @include size(default, 362px);
          top: -362px;
          left: 130px;
        }
      }
    }
    &:nth-child(4) {
      display: none;
      @include respond-to(tablet) {
        display: block;
        rotate: -15deg;
        @include size(default, 188px);
        top: 396px;
        left: 148px;
        z-index: 50;
        @include respond-to(desktop) {
          @include size(default, 323px);
          top: 394px;
          left: 254px;
        }
      }
    }
    &:nth-child(5) {
      display: none;
      @include respond-to(tablet) {
        display: block;
        rotate: 135deg;
        @include size(default, 172px);
        top: -172px;
        left: 286px;
        z-index: 40;
        @include respond-to(desktop) {
          @include size(default, 296px);
          top: -294px;
          left: 493px;
        }
      }
    }
  }
}

.author {
  @include axis-indent(margin, y, 80px);
  @include respond-to(tablet) {
    @include axis-indent(margin, y, 90px);
  }
  &__content {
    @include flex(on, column, $gap: 16px);
    @include respond-to(tablet) {
      @include flex($gap: 32px);
    }
    @include respond-to(desktop) {
      @include flex($direction: row, $align: end, $justify: space-between, $gap: 0px);
    }
    .author__img-container {
      &:first-child {
        @include respond-to(desktop) {
          display: none;
        }
        .author__img {
          &:nth-child(2) {
            margin-left: 65px;
          }
          &:nth-child(3) {
            margin-left: 130px;
          }
          @include respond-to(tablet) {
            @include size(default, 296px, 213px);
            &:nth-child(2) {
              margin-left: 0px;
              margin-top: 167px;
            }
            &:nth-child(3) {
              margin-left: 0px;
              margin-top: 334px;
            }
          }
        }
      }
      &:last-child {
        display: none;
        margin-top: 16px;
        @include respond-to(desktop) {
          display: block;
        }
        .author__img {
          @include size(default, 350px, 252px);
          &:nth-child(2) {
            margin-left: 137px;
          }
          &:nth-child(3) {
            margin-left: 274px;
          }
        }
      }
    }
  }
  &__img {
    @include size(default, 167px, 119px);
    position: absolute;
    transform: scale(0.3);
    opacity: 0;
    transition:
      transform 0.4s ease-in-out,
      opacity 0.4s ease-in-out;
  }
  &__img-container {
    @include size(default, 296px, 119px);
    position: relative;
    @include respond-to(tablet) {
      @include size(default, 296px, 547px);
    }
    @include respond-to(desktop) {
      @include size(default, 624px, 252px);
    }
  }
  &__info {
    @include flex(on, column, $gap: 16px);
  }
  &__subheading {
    @extend %author-subheading;
    display: none;
    @include respond-to(tablet) {
      display: block;
    }
    @include respond-to(desktop) {
      @include size(default, 500px, fit-content);
    }
  }
  &__text {
    @extend %author-text;
    line-height: 150%;
    @include size(default, 296px, fit-content);
    @include respond-to(tablet) {
      @include size(default, 788px, fit-content);
    }
    @include respond-to(desktop) {
      @include size(default, 624px, fit-content);
    }
  }
  &__text-bold {
    font-weight: font-weight(bold);
  }
  &__gradient {
    @include size(default, fit-content);
    background: linear-gradient(180deg, color("blue-neon"), color("lime"));
    @include border-radius(40px);
  }
  &__button {
    @extend %button-noborder;
    background-color: color("blue-neon");
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: color("lime");
    }
  }
  &__form {
    @include flex(on, column, $gap: 16px);
    @include respond-to(tablet) {
      @include flex($direction: row, $align: center, $justify: space-between, $gap: 0px);
    }
    @include respond-to(desktop) {
      display: block;
    }
  }
  .form {
    @include flex(on, column, $gap: 16px);
    @include respond-to(tablet) {
      @include flex($gap: 32px);
    }
    &__img-input-container {
      background-color: color("extra-white");
      @include size(default, 296px, 200px);
      @include border-radius(40px);
      @include flex(on, column, $align: center, $justify: center, $gap: 16px);
      @include respond-to(tablet) {
        @include size(default, 624px, 342px);
      }
    }
    &__img-input-content {
      @include flex(on, column, $align: center, $justify: center, $gap: 16px);
    }
    &__img-input-button {
      @extend %simple-transition;
      @include size(default, 60px);
      @include flex(on, $align: center, $justify: center);
      color: color("extra-white");
      background-color: white;
      @include border(all, 2px, solid, white, 50%);
      &:hover {
        color: color("blue-neon");
        @include border(all, $color: color("blue-neon"));
      }
      &:active {
        color: color("lime");
        @include border(all, $color: color("lime"));
      }
      @include respond-to(tablet) {
        @include size(default, 100px);
      }
    }
    &__img-input-icon {
      @include respond-to(tablet) {
        @include size(default, 40px);
      }
    }
    &__img-input-text {
      @extend %author-img-input;
    }
    &__input {
      @extend %author-input;
      background-color: color("extra-white");
      @include border-radius(40px);
      @include axis-indent(padding, xy, 32px, 17px);
      @include size(default, 296px, 50px);
      @include respond-to(tablet) {
        @include size(default, 624px, 70px);
        @include axis-indent(padding, y, 25px);
      }
    }
  }
}

.best-sellers {
  background-color: color("black");
  @include axis-indent(padding, y, 32px);
  @include respond-to(tablet) {
    @include axis-indent(padding, y, 90px);
  }
  &__heading {
    color: white;
    margin-bottom: 16px;
    @include respond-to(tablet) {
      margin-bottom: 32px;
    }
  }
  &__cards {
    @include flex(on, $justify: space-between, $align: center, $wrap: wrap, $gap: 16px);
    @include respond-to(tablet) {
      @include flex($gap: 0px);
    }
  }
  .card {
    @include size(default, 132px, 226px);
    background-color: color("extra-white");
    @include border-radius(18px);
    @include flex(on, column, space-between, center);
    @include respond-to(tablet) {
      @include size(default, 460px, 174px);
      @include flex($direction: row-reverse);
      @include border-radius(40px);
      @for $i from 3 through 6 {
        &:nth-child(#{$i}) {
          margin-top: 32px;
        }
      }
    }
    @include respond-to(desktop) {
      @include size(default, 624px, 174px);
    }
    &__info {
      background-color: white;
      @include size(default, 132px, 118px);
      @include border-radius(0px, 0px, 18px, 18px);
      margin-top: auto;
      z-index: 999;
      padding-left: 16px;
      padding-top: 16px;
      @include respond-to(tablet) {
        @include size(default, 318px, 174px);
        padding-left: 32px;
        padding-top: 32px;
        @include border-radius(0px, 40px, 40px, 0px);
      }
      @include respond-to(desktop) {
        @include size(default, 482px, 174px);
      }
    }
    &__img {
      @include size(default, 108px);
      margin-top: 12px;
      position: absolute;
      @include respond-to(tablet) {
        margin-right: 303px;
        margin-top: 0;
        @include size(default, 142px);
      }
      @include respond-to(desktop) {
        margin-right: 467px;
      }
    }
    &__user {
      @include flex(on, $align: center, $gap: 8px);
    }
    &__user-name {
      @extend %best-sellers-user;
    }
    &__title {
      @extend %best-sellers-title;
      margin-top: 8px;
      margin-bottom: 7px;
      @include respond-to(tablet) {
        @include axis-indent(margin, y, 9px);
      }
    }
    &__price {
      @extend %best-sellers-price;
      @include flex(on, column, $gap: 3px);
      @include respond-to(tablet) {
        @include flex($direction: row, $align: center);
      }
    }
    &__dollar {
      color: color("grey");
    }
  }
}

.condition {
  background-color: color("dark-grey");
  @include axis-indent(padding, y, 32px);
  &__heading {
    @extend %condition-heading;
  }
  &__text {
    @extend %condition-text;
  }
  &__content {
    @include flex(on, column, $gap: 32px);
    @include respond-to(tablet) {
      @include flex($direction: row, $justify: space-between, $align: center);
    }
  }
  &__info {
    @include flex(on, column, $gap: 16px);
  }
  &__text {
    @include flex(on, $align: center, $gap: 8px);
  }
  &__icon {
    @include size(default, 32px);
  }
  &__img-container {
    position: relative;
    @include size(default, 300px, 103px);
    overflow: hidden;
    @include respond-to(tablet) {
      @include size(default, 460px, 160px);
    }
  }
  &__img {
    @include size(default, 103px);
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        right: ($i - 1) * 48px;
      }
    }
    @include respond-to(tablet) {
      @include size(default, 160px);
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          right: ($i - 1) * 75px;
        }
      }
    }
  }
}

.footer {
  background-color: color("blue-neon");
  &__logo {
    @include axis-indent(margin, y, 20px);
    @include size(default, 75px, 30px);
    @include respond-to(tablet) {
      @include axis-indent(margin, y, 0px);
      @include size(default, 100px, 40px);
    }
  }
  &__content {
    @include flex(on, column, center, center);
    @include respond-to(tablet) {
      @include flex(on, row, space-between);
      @include axis-indent(padding, y, 20px);
    }
  }
  .navbar {
    &__list {
      @include flex(on, $justify: space-between, $align: center);
      @include axis-indent(padding, y, 10px);
      @include border(top, 1px, solid, color("black"));
      @include size(default, 300px, fit-content);
      @include respond-to(tablet) {
        @include axis-indent(padding, y, 0px);
        @include border(top, 0px);
        @include size(default, 320px, fit-content);
      }
    }
    &__link {
      @extend %footer-navbar-link;
    }
  }
  &__black {
    background-color: color("black");
  }
  &__copyright {
    margin-left: 120px;
    @extend %footer-copyright;
    @include axis-indent(padding, y, 8px);
    @include respond-to(tablet) {
      margin-left: 436px;
    }
    @include respond-to(desktop) {
      margin-left: 600px;
    }
  }
}
