// Шрифты
@import "./font.scss";
// Обнуление
@import "./null.scss";
// Конфигурация
@import "./configuration.scss";

// Базовые стили

.container {
  @extend %container;
}

.heading {
  @extend %heading;
}

.header {
  &__logo {
    @include size(default, 75px, 30px);
    @include respond-to(tablet) {
      @include size(default, 100px, 40px);
    }
  }
  &__bar {
    @include border(bottom, 1px, solid, #c4c4c4);
    @include flex(row, space-between, center);
    @include axis-indent(padding, y, 17px);
    @include respond-to(tablet) {
      @include border(bottom, 0);
      @include axis-indent(padding, y, 15px);
      @include flex(row, FLEX-START, center, nowrap);
    }
    .navbar {
      display: none;
      @include respond-to(tablet) {
        display: block;
        margin-left: 64px;
      }
    }
  }
  &__button {
    display: none;
    margin-left: auto;
    background-color: color("black");
    &:hover {
      background-color: color("blue-neon");
    }
    &:active {
      background-color: color("lime");
    }
    @include respond-to(tablet) {
      display: block;
    }
    @extend %navbar-button;
    &-text {
      display: none;
      @include respond-to(tablet) {
        display: flex;
      }
    }
    &-icon {
      display: flex;
      @extend %simple-scale;
      @extend %simple-transition;
      @include respond-to(tablet) {
        display: none;
      }
    }
  }
  .navbar {
    &__link {
      @extend %navbar-link;
      @extend %simple-transition;
    }
    &__list {
      @include flex(row, space-between, center);
      @include respond-to(tablet) {
        @include flex(row, space-between, center, nowrap, 32px);
      }
    }
  }
  .navbar-mobile {
    @include axis-indent(padding, y, 10px);
    @include respond-to(tablet) {
      display: none;
    }
  }
}

.main {
  background-color: color("black");
  overflow: hidden;
  position: relative;
  &__title {
    @extend %title;
    padding-top: 64px;
    padding-bottom: 16px;
    @include respond-to(tablet) {
      padding-top: 160px;
      padding-bottom: 36px;
    }
  }
  &__buttons {
    @include flex(column, flex-start, flex-start, nowrap, 16px);
    padding-bottom: 64px;
    @include respond-to(tablet) {
      @include flex(ROW, flex-start, center, nowrap, 32px);
      padding-bottom: 160px;
    }
  }
  &__button-buy {
    @extend %main-button-buy;
    &:hover {
      background-color: color("blue-neon");
    }
    &:active {
      background-color: color("lime");
    }
  }
  &__gradient {
    @include linear-gradient(180deg, color("blue-neon"), color("lime"));
    @include size(default, fit-content);
    border-radius: 40px;
  }
  &__button-author {
    @extend %main-button-author;
    @include border(all, 5px, solid, color("blue-neon"));
    &:hover {
      background: color("blue-neon");
    }
    &:active {
      background-color: color("lime");
      @include border(all, 5px, solid, color("lime"));
    }
  }
  &__hero {
    @include size(min, 320px, 145px);
    background-image: url("../images/hero.png");
    background-repeat: repeat-x;
    background-position: center;
    @include axis-indent(margin, x, auto);
    position: relative;
    bottom: -150px;
    @include respond-to(tablet) {
      @include size(min, 332px, 680px);
      background-image: url("../images/hero_tablet.png");
      background-repeat: no-repeat;
      position: absolute;
      right: -332px;
      bottom: 0px;
    }
    @include respond-to(desktop) {
      @include size(min, 944px, 680px);
      background-image: url("../images/hero_desktop.png");
      background-repeat: no-repeat;
      position: absolute;
      right: -944px;
      bottom: 0px;
    }
  }
}

.auction {
  @include axis-indent(padding, y, 80px);
  &__bar {
    @include flex(row, flex-start, center, nowrap, 15px);
    @include respond-to(tablet) {
      @include flex(row, flex-start, center, nowrap, 16px);
    }
  }
  &__live {
    @include size(default, 105px, 28px);
    @include border(all, 2px, solid, color("red"), 40px);
    @include flex(row, center, center, nowrap);
    margin-top: 2px;
    @include respond-to(tablet) {
      @include size(default, 135px, 36px);
      margin-top: 6px;
    }
  }
  &__live-text {
    @include flex(row, flex-start, center, nowrap, 3.5px);
    @extend %live;
    @include respond-to(tablet) {
      @include flex(row, flex-start, center, nowrap, 5.5px);
    }
  }
  &__card {
    @include respond-to(tablet) {
      @include flex(row, space-between, top, nowrap, 16px);
      margin-top: 32px;
    }
  }
  &__card-content {
    @include flex(column, flex-start, flex-start, nowrap, 16px);
    @include respond-to(tablet) {
      @include flex(column, flex-start, flex-start, nowrap, 32px);
    }
  }
  &__card-img {
    @include size(default, 296px);
    @include axis-indent(margin, y, 32px);
    @include respond-to(tablet) {
      @include size(default, 460px);
      @include axis-indent(margin, y, 0px);
    }
  }
  &__user {
    background-color: color("extra-white");
    border-radius: 18px;
    @include size(default, 170px, 46px);
    @include flex(row, center, center, nowrap, 8px);
    @include respond-to(tablet) {
      @include size(default, 228px, 70px);
      @include flex(row, center, center, nowrap, 16px);
      border-radius: 23px;
    }
  }
  &__user-name {
    @extend %auction-user;
    margin-top: 2px;
  }
  &__user-img {
    @include size(default, 24px);
    @include respond-to(tablet) {
      @include size(default, 48px);
    }
  }
  &__card-title {
    @extend %auction-title;
  }
  &__price-time {
    @include flex(column, flex-start, flex-start, nowrap, 16px);
    @include respond-to(tablet) {
      @include flex(column, flex-start, flex-start, nowrap, 32px);
    }
    @include respond-to(desktop) {
      @include flex(ROW, flex-start, flex-start, nowrap, 32px);
    }
  }
  &__price {
    @include size(default, 174px, 126px);
    @include flex(row, flex-start, center, nowrap, 16px);
    background-color: color("extra-white");
    border-radius: 18px;
    @include respond-to(tablet) {
      @include size(default, 296px, 174px);
      border-radius: 40px;
    }
  }
  &__price-info {
    padding-left: 16px;
    @include flex(column, center, flex-start, nowrap, 16px);
    @include respond-to(tablet) {
      padding-left: 32px;
      display: block;
    }
  }
  &__price-text {
    @extend %auction-price-text;
  }
  &__crypto {
    @extend %auction-crypto;
    @include respond-to(tablet) {
      margin-top: 16px;
      margin-bottom: 6px;
    }
  }
  &__dollar {
    @extend %auction-dollar;
  }
  &__time {
    @include size(default, 200px, 116px);
    background-color: color("black");
    border-radius: 18px;
    @include respond-to(tablet) {
      @include size(default, 460px, 174px);
      @include flex(row, space-between, center, nowrap, 0px);
      border-radius: 40px;
    }
  }
  &__time-info {
    @include flex(column, center, flex-start, nowrap, 16px);
    @include axis-indent(padding, xy, 16px, 16px);
    @include respond-to(tablet) {
      @include axis-indent(padding, xy, 0px, 0px);
      padding-left: 32px;
    }
  }
  &__clock {
    @include size(default, 168px, 0px);
    @include flex(row, space-between, center, nowrap, 0px);
    @include respond-to(tablet) {
      @include size(default, 231px, 0px);
    }
  }
  &__time-type {
    @include flex(column, center, center, nowrap, 6px);
  }
  &__time-text {
    @extend %auction-time-text;
  }
  &__clock-text {
    @extend %auction-time-text;
  }
  &__clock-num {
    @extend %auction-clock-num;
  }
  &__clock-img {
    display: none;
    @include respond-to(tablet) {
      display: block;
      padding-right: 32px;
    }
  }
  &__gradient {
    margin-top: 16px;
    border-radius: 40px;
    &:hover {
      @include linear-gradient(180deg, color("blue-neon"), color("lime"));
      @include size(default, fit-content);
    }
    @include respond-to(tablet) {
      margin-top: 0px;
    }
  }
  &__button {
    @extend %auction-button;
    background-color: color("blue-neon");
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: color("lime");
    }
  }
}
